# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE files
.idea
.vscode
*.iml

# Dependencies
node_modules

# Build/output
target
scratch
private
dist

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
